html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

.title-name {
    padding-bottom: 5px;
}

.title-role {
    padding-left: 37px;
    font-style: italic;
}

.navbar-brand{
    padding-top: 10px;
}

.right{
    text-align: right;
}

.jqcloud{
    width:  100%;    
    height: 100%;
}

section {
    padding-top:40px;
    margin-top:-40px;
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.abilities-list li{
    width:200px;
    
}